/* Clean and Professional Theme */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}

body {
  background-color: white;
  color: black;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}